{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container border">
    <h1>Inscription</h1>

    <form method="post">
     {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
        <p> {{ form_start(registrationForm) }} </p>
        <p> {{ form_row(registrationForm.Nom) }} </p>
        <p> {{ form_row(registrationForm.email) }} </p>
        <p> {{ form_row(registrationForm.plainPassword) }} </p>
        <p> {{ form_row(registrationForm.billet) }} </p>
        <p> {{ form_row(registrationForm.agreeTerms) }} </p>

        <button class="btn btn-lg btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
        <br>
    </form>
</div>
{% endblock %}
