{% extends 'base.html.twig' %}

 {% block body %}

<div class="container">
			<p><strong>INFOS LEGAL</strong></p>
	<p>Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part, ABYSSIUM, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.</p>
	<p>Toute connexion au site est subordonnée au respect des présentes conditions.</p>
	<p>Pour l’utilisateur, le simple accès au site de ABYSSIUM à l’adresse URL suivante convention implique l’acceptation de l’ensemble des conditions décrites ci-après.</p>
	<p>Dernière mise à jour : 25 juin 2018</p>
	<p>La protection de votre confidentialité nous tient à coeur.</p>
	<p>convention s’engage à protéger la confidentialité, la sécurité et l’exactitude des renseignements personnels qu’ils recueillent, utilisent ou communiquent conformément à la législation applicable. La présente politique de protection de la confidentialité ( la « politique de protection de la confidentialité » ) constitue un énoncé des principes et des lignes directrices concernant la protection des renseignements personnels des individus qui sont nos clients, nos fournisseurs de services et d’autres individus (« vous ») (à l’exception de notre personnel, dont les renseignements personnels sont recueillis, utilisés et communiqués conformément à notre politique de protection de la confidentialité à l’intention du personnel).</p>
	<p>&nbsp;</p>
	<p><strong>QUI SOMMES-NOUS&nbsp;?</strong></p>
	<p>Conformément aux dispositions de l’article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, nous vous informons que le site convention est édité par la société ABYSSIUM, société à responsabilité limitée au capital de 1€, inscrite au Registre du commerce et des sociétés de Bobigny sous le numéro 478&nbsp;193&nbsp;766 00027, et dont le siège social est domicilié au :</p>
	<p>197 avenue Pierre Brossolette<br>
	92120 MONTROUGE<br>
	www.convention.fr</p>
	<p>Pour contacter ABYSSIUM, merci d’utiliser la rubrique «&nbsp;Contact&nbsp;» du site ou de nous envoyer un e-mail à contact[a]myconvention.fr.</p>
	<p>Le site convention.fr est hébergé sur la solution d’hébergement XXX.</p>

	<p>La présente politique de protection de la confidentialité s’applique à la collecte, à l’utilisation et à la communication par nous de renseignements personnels concernant des clients et consommateurs de nos produits et services.</p>
	<p>&nbsp;</p>
	<p><strong>PROPRIÉTÉ INTELLECTUELLE</strong></p>
	<p>La structure générale du site convention, ainsi que les textes, graphiques, images, sons et vidéos la composant, sont la propriété de l’éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site , par quelque procédé que ce soit, sans l’autorisation préalable et par écrit de et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.</p>
	<p>&nbsp;</p>
	<p><strong>RESPONSABILITÉS</strong></p>
	<p>Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.</p>
	<p>Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.</p>
	<p>ABYSSIUM se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.</p>
	<p>&nbsp;</p>
	<p>Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.</p>
	<p>Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.</p>
	<p>L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que ABYSSIUM puisse être recherché</p>
	<p>&nbsp;</p>
	<p><strong>LIENS HYPERTEXTE</strong></p>
	<p>Le site peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site <a href="http://convention">convention</a>.</p>
	<p>Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de ABYSSIUM. Aucune autorisation ou demande d’information préalable ne peut être exigée par ABYSSIUM à l’égard d’un site qui souhaite établir un lien vers le site de ABYSSIUM. Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, ABYSSIUM se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site&nbsp;<strong>convention</strong>.</p>
	<p>&nbsp;</p>
	<p><strong>UTILISATIONS DES DONNÉES PESONNELLES COLLECTÉES</strong></p>
	<p><strong>LE TYPE DE RENSEIGNEMENTS PERSONNELS RECUEILLIS</strong></p>
	<p>En visitant le site internet convention, nous pouvons collecter les données suivantes&nbsp;:</p>
	<ul>
	<li>Les données que vous nous communiquez lorsque vous nous envoyer un message via le formulaire de contact ou à l’adresse e-mail <a href="mailto:contact@.fr">contact@.fr</a>.</li>
	<li>Dans le cas d’un achat de billet à la billetterie de Convention &amp; Sci-Fi Show, la transaction est prise en compte par Weezevent dont voici la politique de confidentialité&nbsp;: <a href="https://weezevent.com/fr/securite/">https://weezevent.com/fr/securite/</a></li>
	<li>Les informations relatives à vos visites sur le site internet&nbsp;: le temps passé sur notre site internet, votre emplacement géographique, la durée de votre visite.</li>
	</ul>
	<p>&nbsp;</p>
	<p><strong>PROTEGER VOS DONNEES PERSONNELLES </strong></p>
	<p>La transmission des données sur Internet n’est pas entièrement sécurisée mais nous vous assurons qu’en aucun cas les données collectées sur le site convention ne seront cédées ou vendues à des tiers. Aucune adresse mail ne sera transmise à des tiers y compris à nos partenaires sans accords préalables des personnes concernées.</p>
	<p>Les données collectées par le biais de nos newsletters ne seront utilisées qu’à des fins de communication autour de notre événement.</p>
	<p>&nbsp;</p>
	<p><strong>COMMENT UTILISONS-NOUS VOS DONNÉES PERSONNELLES. </strong></p>
	<p>Nous utilisons vos données uniquement pour vous présenter le contenu de notre salon ainsi que les informations relatives à nos partenaires. Nous utilisons également les données des sondages que nous organisons via l’application Forms de Google afin d’améliorer notre événement selon vos commentaires.</p>
	<p>&nbsp;</p>
	<p><strong>SE DESABONNER</strong></p>
	<p>Si vous ne souhaitez plus recevoir de newsletter de la part de convention, vous pouvez vous désabonner en cliquant sur le bouton «&nbsp;me désabonner&nbsp;» en bas de nos newsletters ou en envoyant un e-mail à <a href="mailto:contact@.fr">contact@.fr</a>&nbsp;!</p>
	<p>&nbsp;</p>
	<p><strong>MODIFICATION DE NOTRE POLITIQUE DE CONFIDENTIALITÉ</strong></p>
	<p>Si nous modifions cette politique de confidentialité, nous nous engageons les publier sur notre site ainsi qu’à vous envoyer un e-mail pour vous en informer.</p>
	<p><strong>&nbsp;</strong></p>
	<p><strong>CONSERVATION DES DONNÉES</strong></p>
	<p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour mener les activités qui sont décrites dans la présente politique de confidentialité ou qui vous sont communiqués, ou encore aussi longtemps que la loi nous y autorise.</p>
	<p>&nbsp;</p>
	<p><strong>COOKIES</strong></p>
	<p>L’utilisateur est informé que lors de sa navigation sur le site convention, des cookies peuvent être installés automatiquement sur son navigateur.</p>
	<p>Le cookie est un bloc de données enregistrant des informations relatives à la navigation sur le site. Il ne permet pas d’identifier l’utilisateur. Si vous souhaitez être informé de la présence de cookie, vous pouvez paramétrer votre navigateur, voire refuser les cookies. Dans ce dernier cas, votre navigation sur le site pourrait s’en trouver limitée.</p>
	<h4>Dépôt de cookies par Sirdata</h4>
	<p>Sirdata est une entreprise de data marketing qui permet à ses Clients d’adresser aux Utilisateurs des offres pertinentes adaptées à leurs centres d’intérêts.<br>
	Les Données collectées par Sirdata sont conservées pour une durée maximale de 365 jours, selon la finalité du traitement, conformément aux lois en vigueur et principe de minimisation.<br>
	En savoir plus : <a href="https://www.sirdata.com/vie-privee/">https://www.sirdata.com/vie-privee/</a><br>
	Vous souhaitez désactiver la collecte de vos données par Sirdata : <a href="https://www.sirdata.com/opt-out/">https://www.sirdata.com/opt-out/</a></p>
	<p><strong>DROIT APPLICABLE ET JURIDICTION COMPETENTE</strong></p>
	<p>Les présentes conditions générales d’utilisation sont régies par le droit français et l’utilisateur, en acceptant celles-ci, donne irrévocablement compétence exclusive aux juridictions françaises. Les tribunaux français seront seuls compétents en cas de litige relatif à la validité, l’interprétation ou l’exécution des présentes conditions générales d’utilisation, même en cas de pluralité de défendeurs ou d’appels en garantie.</p>

	</div>


{% endblock %} 