{% extends 'base.html.twig' %}

{% block body %}

<div class="container border-light">
    <h2> Contactez nous :  </h2>
    {% form_theme contactForm 'bootstrap_4_layout.html.twig' %}
        <p> {{ form_start(contactForm) }} </p>
    
        <p> {{ form_row(contactForm.Nom) }} </p>
        <p> {{ form_row(contactForm.Email) }} </p>
        <p> {{ form_row(contactForm.Message) }} </p>

        <button class="btn btn-lg btn-primary">Envoyer</button>
        {{ form_end(contactForm) }}


</div>

{% endblock %} 