{% extends 'base.html.twig' %}

 {% block body %}

<div class="container border border-light">
    <div class="content">
        <h2> Bienvenue </h2>

        <p> Notre convention se déroulera le samedi 29 Mars 2020. </p>
        <p>Vous trouverez toutes les informations sur notre site web. Les nouvelles concernant les animations et les 
        nouveaux invités arriverons durant les prochaines semaines. </p>

        <p>Si vous voulez nous contacter, rendez-vous dans la rubrique "Contact". </p>

        <p> Bonne visite ! </p>
    </div> 

    <div class="container_invitess">
        <a class="center_right" href="/"> <img class="youtubeur" src="assets/img/img1.jpg" alt="First slide"> </a>
        <a href="/"> <img class="youtubeur" src="assets/img/img2.jpg" alt="First slide"> </a>
        <a href="/"><img class="youtubeur" src="assets/img/img3.jpg" alt="First slide"> </a>
    </div>
</div>

{% endblock %} 