body{
    background-color: #cac9c9;
}
main{
    background-color: #cac9c9;
}

.row{
    padding: 6px;
}


li{
    color : black;
}

.container{
    margin-top:1%;
}

.center_left{
    margin-left: 32%;
}

.center_right{
    margin-left:5%;
}

.container_invites img{
    width:50%;
    margin-bottom: 5%;
}

.container_invitess img{
    width:27%;
    padding :1%;
}

.register_form{
    margin-left: 1%;
    padding : 7px;
    background-color: rgb(181, 213, 255);
    border-radius: 5px;
} 

.table{
    margin-top:5%;
    text-align: left;
    font-size: 1.3rem;
}

.textHoraires{
    margin-left:3%;
}

.content{
    margin-top:2%;
    margin-bottom: 5%;
}

.container{
    background-color: #cac9c9;
    color: white;
}

.tarif_img{
    margin-left:24%;
} 

.center_img{
    display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;

}