{% extends 'base.html.twig' %}

{% block title %} Info pratique {% endblock %}
 {% block body %}

 <img class="tarif_img" src="/assets/img/bande.jpeg" alt="banderole" style="width: 50%"/> 

<div class="container"> <h3>Info pratique</h3> </div>

<div class="container"> 
    <p>Convention interdit au moins de 16 ans (sans accompagnateur).</p>
    <p>Toutes sorties est définitives. </p>
    <h4>• Date et horaires : </h4>
    <div class="content">
        <p> <u>Horaires</u> : </p>
            <p class="textHoraires">- Billet visiteur : 9h-18h. </p>
            <p class="textHoraires">- Billet exposant : 7h-20h.</p>
        <p><u>Date</u> : 30 Mars 2020.</p>
    </div>
    
    <h4>• Comment y aller  :</h4> 
    <div class="content">
            <p> <u>Adresse</u> :  Parc des expositions, VillePintes. </p>
            <p> <u>Parking </u>:  Parking payant à l'intérieur de la convention</p>
            <p> <u>Transport en commun </u>: bus (Ligne 3 et 7 direction parc des expositions) - métro (RER A direction VillePinte) </p>
            <p> <u>Point de repère </u>: Proche de l'hotel YStyle.</p>
    </div>

    
    <h4>•  Restauration :</h4> 
    <div class="content">
            <p>Restaurants présents sur place (voir plan de la convention).</p>
            <p>Coin pique-nique (intérieur ou extérieur)</p>
        <p> <u>Supermarché à proximité </u>: Super U </p>
    </div>

    <h4>• Plan de la convention : </h4>
        <a href="/assets/img/plan_conv.pdf" download="plan_convention" >
            <img src="/assets/img/plan_conv.jpg" alt="plan" style="width:50%"/> </a>
            
</div>

{% endblock %}


