
{% extends 'base.html.twig' %}

{% block title %} Tarif {% endblock %}

{% block body %}

<img class="tarif_img" src="/assets/img/bande.jpeg" alt="banderole" style="width: 50%"/> 

<div class="container"><h2> Tarif :  </h2></div>

<div class="container">

    <p><u>Billet visiteur</u> : 10 euros</p>


   <p> <u>Parking</u> : 14 euros la journée <img src="/assets/img/logo_parking.png" alt="parking" style="width: 2%"/>  </p>

    <p>Pour les exposants : </p>
    <p> <u>Billet exposant</u> : 15 euros.</p>
    <p> <u>Prix du mètre du stand</u> : 3 euros.</p>
</div>
{% endblock %}