<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Julian">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>{% block title %}IUT Marketplace{% endblock %}</title>

    {% block stylesheets %}
       <link href="/assets/css/style.css" rel="stylesheet">
        <!--<link href="/assets/css/test1.css" rel="stylesheet">
        <link href="/assets/css/test2.css" rel="stylesheet">
        <link href="/assets/css/test3.css" rel="stylesheet">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">-->
        <!-- <link href="/assets/css/marketplace.css" rel="stylesheet">-->
    {% endblock %}
</head>
<body>

<header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Informations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="Tarif">Tarif</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="InfoPratique">Info Pratique</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Programme
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="Invites">Invités</a>
          <a class="dropdown-item" href="Exposants">Exposant</a>
          <a class="dropdown-item" href="ActivitesAnimations">Activités & animations </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="register_form">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="dropdown-item" href="moncompte">Mon Compte</a>/  
            <a href="{{ path('app_logout') }}" class="text-dark">Déconnexion</a> 
        {% else %}
            <a href="{{ path('app_login') }}" class="text-dark">Connexion</a>
            /
            <a href="{{ path('app_register') }}" class="text-dark">Inscription</a>
            <!-- <li><a href="{{ path('user_new') }}" class="text-white">user</a></li> -->
    {% endif %}
  </div>
</nav>
</head>

<main role="main">

    <div class="album py-5">
        <div class="container">

            <div class="row">

                {% block body %}{% endblock %}

            </div>
        </div>
    </div>
</main>

<footer class="navbar navbar-expand-lg navbar-dark fixed-bottom bg-dark">
    <a class="center_left" href="/CGU"> Conditions Général d'Utilisations </a>
    <a class="center_right" href="/contact"> Contact </a>
</footer> 

{% block javascript %}
<!-- 
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-3.3.1.slim.min.js"><\/script>')</script>
    <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-3.3.1.slim.min.js"></script>-->
{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>
</html>