{% extends 'base.html.twig' %}

{% block title %} Mon Compte{% endblock %}

{% block body %}
    <div class="container">
        <h2> Mon Compte : </h2>
        <div class="content"/> 
            <p> E-mail : {{ mymail.email }}</p>

            <p> <u> Changer le mot de passe </u> : </p>
            <p> Rôle : {{ mymail.billets }}</p>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.plainPassword) }}

                <button class="btn">Valider</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

  
{% endblock %}
