{% extends 'base.html.twig' %}

{% block title %} Activité-Animations {% endblock %}

{% block body %}

<div class="container border-light">

    <h2> Activité & Animations :  </h2>

    <div class="container">

        <div class="card" style="width: 18rem;">
            <a href="/ConcoursCosplay"> <img src="assets/img/animation.jpg" class="card-img-top" alt="animation"> </a>
            <div class="card-body">
                <p class="card-text">Concours cosplay</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card" style="width: 18rem;">
            <a href="/Karaoke"> <img src="assets/img/karaoke1.jpg" class="card-img-top" alt="animation"> </a>
            <div class="card-body">
                <p class="card-text">Karaoke</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card" style="width: 18rem;">
        <a href="/Quizz"> <img src="assets/img/quizz.jpg" class="card-img-top" alt="animation"></a>
            <div class="card-body">
                <p class="card-text">Quizz mangas</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}