{% extends 'base.html.twig' %}

{% block title %} Antoine Daniel {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Antoine Daniel</h1>
    <p class="lead">
        <img class="d-block" src="assets/img/antoineDan.jpg" style="width : 30%"> 
    </p>
    <p class="lead">
       
       « En fait je voulais juste appeler le compte AntoineDaniel à la base puisque je m'appelle comme ça,
        mais un pauvre type l'a déjà pris avant. Je le déteste. Du coup j'ai mis Mr avant. C'est comme si 
        j'avais un chapeau haut de forme﻿ sur la tête. Cool story bro. » - Antoine Daniel. 
    </p>

    <p class="lead">

        Ce youtubeur hors du commun sera présent à notre convention le Samedi. Il est notamment connu pour ses vidéos
        "What the cut" sur sa chaine youtube MrAntoineDaniel.
        Les dédicaces se dérouleront entre 14h et 16h. 
    </p>
  </div>
</div>

{% endblock %}