{% extends 'base.html.twig' %}

{% block title %} Activité-Animations {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <h1 class="display-4">Concours cosplay</h1>
    <p class="lead">
        Organisé et animé par notre formidable équipe,
        ce concours a pour but de mettre en valeur votre travail et votre univers.
    </p>
    <p class="lead">
        Ce Samedi de 17h à 18h, Le Concours Cosplay :

        Il sera précédé d’un rendez-vous afin de faire connaissance, venir chercher ou donner quelques conseils. Les prix pour ce
        concours seront plus que symboliques, juste pour le fun et si les 3 premiers auront un cadeau supplémentaire tous les participants
        repartiront avec un souvenir de ce moment. 
    </p>
    <p class="lead">
        Vous pouvez consulter le règlement ci-dessous et vous inscrire en téléchargeant le formulaire
        d'inscription ci-dessus à rendre dés le matin à l'accueil de la convention.
    </p>
      <br>
        <br>
        <img class="d-block center_img" src="assets/img/GroupCosplay.jpg" alt="First slide" style="width : 50%"> 
          <br>
            <br>
  </div>
</div>

{% endblock %}