{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Reika</h1>
    <p class="lead">
        <img class="d-block" src="assets/img/reika_cos.jpg" style="width : 30%"> 
    </p>
    <p class="lead">
       
       REIKA est une cosplayeuse japonaise de renom qui nous vient d’Osaka. Elle est invitée dans des conventions et événements
    partout dans le monde, en Asie, en Europe, aux États-Unis et en Amérique du Sud.
     Elle pratique le cosplay depuis 20 ans, et a plus de 500 costumes à son actif. Elle anime également des ateliers sur la
    pose de perruques, le maquillage et la fabrication de costumes. 
    </p>

    <p class="lead">
        Cette cosplayeuse mondialement connue sera présent à notre convention le Samedi.
        Les dédicaces se dérouleront entre 15h et 17h. 
    </p>
  </div>
</div>

{% endblock %}