
{% extends 'base.html.twig' %}

{% block title %} Exposants {% endblock %}

{% block body %}

<div class="container">
    <h2> Les exposants :   </h2>


     <table class="table">
        <thead>
            <tr style="text-align:center">
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.nom }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun exposant</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}