
{% extends 'base.html.twig' %}

{% block title %} Invités {% endblock %}
{% block stylesheets %} <link href="/assets/css/style.css" rel="stylesheet"> {% endblock %}

{% block body %}

<div class="container border">
  <h2> Les invités :  </h2>
  <p>Mangaka, professionnels de l’animation, chara-designers, illustrateurs, créateurs de jeux vidéo, producteurs, musiciens, chanteurs, compositeurs… : ces invités sont nombreux à faire le voyage depuis le Japon pour venir assister au festival.

  Ne manquez pas la chance de rencontrer ces artistes talentueux, d'assister à des shows exceptionnels et d’en apprendre plus sur nos invités.</p>
</div>

<div>
<br>
  <h3> Mangaka & Animations :  </h3>
    <div class="container_invites">
      <a href="/KillingStalking">  <img class="d-block" src="assets/img/killingstalking.jpg" alt="First slide"> </a>
    </div>
</div>

<div>
<br>
  <h3> Cosplayers :  </h3>
    <div class="container_invites">
      <a href="/Cosplayers"> <img class="d-block" src="assets/img/reika_2.jpg" alt="First slide"> </a>
    </div>
</div>

<div>
  <h3> Youtubeurs :  </h3>
    <div class="container_invitess">
        <a href="/AntoineDaniel"> <img class="youtubeur" src="assets/img/daniel.jpg" alt="First slide"> </a>
        <a href="/RireJaune"> <img class="youtubeur" src="assets/img/rire.jpg" alt="First slide"> </a>
        <a href="/LeGrandJD"><img class="youtubeur" src="assets/img/grand.jpg" alt="First slide"> </a>
        <a href="/JDG"><img class="youtubeur" src="assets/img/joueur_grenier.jpg" alt="First slide"> </a>
    </div>
</div>
{% endblock %}