{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Le joueur du grenier</h1>
    <p class="lead">
        <img class="d-block" src="assets/img/JDG2.jpg" style="width : 50%"> 
    </p>

    <p class="lead">

        Ce youtubeur incontournable sera présent à notre convention le Samedi. Sur ses chaines Joueur du Grenier et Bazar du Grenier, il anime plusieurs émissions sur le thème des jeux-videos. Son humour lui a valu d'être rapidemment connu. C'est désormais une référence en terme de vidéos sur le rétro-gamming.
        Les dédicaces se dérouleront entre 14h et 16h. 
    </p>
  </div>
</div>

{% endblock %}