{% extends 'base.html.twig' %}

{% block title %} Activité-Animations {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
        <br>
    <h1 class="display-4">Karaoke</h1>
    <p class="lead">
        Peu importe votre talent, venez pousser la chansonnette sur la grand scène et participer aux sessions karaoke 
        organisées par l’association Bel'Op ! Des quizz et des blindtests sont également prévus, pour plus d'amusement !
    </p>
          <br>
        <br>
        <img class="d-block center_img"" src="assets/img/Karaoke2.jpg" alt="First slide" style="width : 55%"> 
          <br>
            <br>
  </div>
</div>

{% endblock %}