{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Killing Stalking</h1>
    

    <img class="d-block" src="assets/img/KS.jpg" style="width : 20%"> 
    

     <p class="lead">

       Koogi est une manhwaga qui vient de débuter sa carrière avec le webcomic Killing Stalking. Ce dernier est publié par Lezhin et pré-publié dans le magazine Lezhin.
    </p>

    <p class="lead">

       Un jeune homme nommé Yoonbum est fou amoureux du garçon le plus populaire de son université, Sangwoo, malgré le fait qu'il sache mieux que personne qu'il ne sera jamais à ses cotés. Son amour à sens unique l'entraîne à s'introduire dans la maison de ce dernier, mais ce qu'il découvre là-bas va complètement bouleverser sa vie...
       Les dédicaces se dérouleront entre 14h et 16h. 
    </p>
  </div>
</div>

{% endblock %}