{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Le Grand JD</h1>
    <p class="lead">
        <img class="d-block" src="assets/img/Grand-JD2.jpg" style="width : 30%"> 
    </p>

    <p class="lead">

        Le grand JD est un vidéaste  éclectique qui expérimente de nombreux formats parmi lesquels nous retrouvons des vidéos parodiques (films, pubs, jeux vidéos, etc.) mais également des clips musicaux à la composition pour le moins originale. Il se passionne également pour l’Urbex et l’étrange, thèmes autour desquels il réalise de nombreuses autres vidéos à caractère plus documentaire.
        Les dédicaces se dérouleront entre 14h et 16h. 
    </p>
  </div>
</div>

{% endblock %}