{% extends 'base.html.twig' %}

{% block title %} Activité-Animations {% endblock %}

{% block body %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
        <br>
    <h1 class="display-4">Quizz</h1>
    <p class="lead">
        Pour la première fois, nous vous donnons rendez-vous sur la scène principale le samedi à 13h30 et le dimanche à
        14h30 pour vous offrir des tonnes de cadeaux ! Des DVD, des manga, des goodies en tout genre que les geeks les plus rapides 
        vont s’arracher! 
    </p>
    <p class="lead">
        Rejoignez notre équipe déjantée pour ce Quizz et tentez de gagner des dizaines de cadeaux !
    </p>
          <br>
        <br>
        <img class="d-block center_img" src="assets/img/MyQuizz2.png" alt="Quizz" style="width : 50%"> 
          <br>
            <br>
  </div>
</div>

{% endblock %}