{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Le Rire Jaune</h1>
    <p class="lead">
        <img class="d-block" src="assets/img/RireJaune2.jpg" style="width : 30%"> 
    </p>

    <p class="lead">

        Le Rire Jaune est un duo de vidéastes web français, composé de deux frères, Kevin Kē Wěi Tran et Henry Kē Liáng Tran. Ils publient leurs vidéos sur la plateforme YouTube sur leur chainee LeRireJaune.
        Les dédicaces se dérouleront entre 13h et 15h.
    </p>
  </div>
</div>

{% endblock %}